<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orange Card Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h2>Providers</h2>
    <table class="glyphicon glyphicon-calendar">
        <tr>
            <th>Provider</th>
            <th>Total Fee (In Rands)</th>
            <th>Number Of Transactions</th>
        </tr>
        <tr th:each="provider : ${providerLists}">
            <td th:text="${provider.provider}"></td>
            <td th:text="${provider.totalFee}"></td>
            <td th:text="${provider.numberOfTransactions}"></td>

        </tr>
    </table>
</div>
</body>
</html>