<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Providers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h2>Providers</h2>
    <table class="glyphicon glyphicon-calendar">
        <tr>
            <th>Provider</th>
            <th>Provider Fee (In $)</th>
            <th>Provider Total</th>
        </tr>
        <tr th:each="providers : ${providerLists}">
            <td th:text="${providers.getProvider()}"></td>
            <td th:text="${providers.getTotalFee()}"></td>
            <td th:text="${providers.getNumberOfTransactions()}"></td>

        </tr>
    </table>
</div>
</body>
</html>